extends layout

block content
  header
    h1= title
  section
    h2 Palavra: <strong>#{word}</strong>
    p.description= description
    video(autoplay loop muted controls).
      #[source(src=videoUrl)]
      p Para ver o video por favor habilite JavaScript e considere atualizar para um navegador que suporte #[a(href='http://videojs.com/html5-video-support/' target='_blank') Video HTML 5].

  a(href="/" class="button") Próxima Palavra
  footer
    p.
      Baseado nas informações disponibilizadas em #[a(href='http://www.acessibilidadebrasil.org.br/libras_3/' target='_blank' title='Link para o site acessibilidade Brasil') Acessibilidade Brasil].
